
BlockModel(
    elements: [
        Element {
            origin: [0, 0, 0],
            extent: [16, 8, 16],
            faces: {
                east: "$side",
                west: "$side",
                up: "$top",
                down: "$bottom",
                north: "$side",
                south: "$side",
            }
        }
    ]
)
